.grid {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #1b262d;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15px;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}
