.base {
  display: flex;
  flex-direction: row;
  width: 500px;
  background-color: #1b262d;
  color: white;
}

.icon {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.info {
  flex-basis: 0;
  flex-grow: 1;
}
